body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 4px;
  transition: transform 0.3s linear;
}

.down {
  transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
}

.epic-story {
  font-weight: bold;
}

.navbar > .menu {
  width: auto;
  margin: 0;
}

.divBtnProject {
  margin-right: 1em;
  display: flex;
  float: right;
}

.feedback {
  display: block;
  width: 100%;
}

.chooseRole {
  width: 30%;
  float: right;
  display: flex;
}
